* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-image: url(images/green-background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: whitesmoke;
  font-family: sans-serif;
  font-size: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

header img {
 width: 100%;
}

// NAVIGATION NAVIGATION NAVIGATION NAVIGATION NAVIGATION NAVIGATION NAVIGATION NAVIGATION 

#topnav {
  width: 100%;
}

#topnav ul {
  list-style-type: none;
}

#topnav li {

}

#topnav li a {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: orange;
  color: white;
  float: left;
  width: 33.333%;
  padding: 1rem 0;
}

#topnav li a:hover {
  background-color: yellowgreen;
  color: black;
}

// OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER 

.main {
  clear: both;
  background-color: white;
  padding: 1rem 1rem 3rem 1rem;
}

.main .logo {
  width: 30%;
  border: 1px solid red;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 200%;
  color: black;
  border: 1px solid green;
}

footer {
  background-color: lightgray;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}